/**
 * =============================================================================
 * GALLERY PAGE STYLES
 * =============================================================================
 */

.gallery {
  display: flex;
  flex-direction: column;
}
